name: avx2

on: [push]

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest]
        compiler: [ g++-12, clang++-16 ]

    name: Build & test on ${{ matrix.os }} with ${{ matrix.compiler }}.
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive

    - name: Install Software
      run: |
        sudo apt-get install -y cmake libssl-dev
    
    - name: Configure CMake
      working-directory: ${{github.workspace}}/Optimized_Implementation/avx2
      run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=Release

    - name: Build
      working-directory: ${{github.workspace}}/Optimized_Implementation/avx2
      run: cmake --build ${{github.workspace}}/build --config Release

    - name: Test
      working-directory: ${{github.workspace}}/build
      run: |
        ./LESS_test_cat_252_192
        ./LESS_test_cat_252_68
        ./LESS_test_cat_252_45
        ./LESS_test_cat_400_220
        ./LESS_test_cat_400_102
        ./LESS_test_cat_548_345
        ./LESS_test_cat_548_137
        ./LESS_nist_cat_252_192
        ./LESS_nist_cat_252_68
        ./LESS_nist_cat_252_45
        ./LESS_nist_cat_400_220
        ./LESS_nist_cat_400_102
        ./LESS_nist_cat_548_345
        ./LESS_nist_cat_548_137
        ./LESS_benchmark_cat_252_192
        ./LESS_benchmark_cat_252_68
        ./LESS_benchmark_cat_252_45
        ./LESS_benchmark_cat_400_220
        ./LESS_benchmark_cat_400_102
        ./LESS_benchmark_cat_548_345
        ./LESS_benchmark_cat_548_137
